build
root
.bash*
*out
*.svg
*.dat
runtime_*
*.bak
.ccache/
.config/
.gitconfig
.lesshst
.local/
.root_hist
.screenrc
ccache.conf
make_run_many.sh
mattermost-hook
root-hsimple-inst.dat.bak
run_many.sh

