# Rename this file to bench-config.json after filling out below's fields.
{
  "output-dir" : "output directory path where the SVG benchmark results should be copied to. E.g. '/output/dir'",
  "output-url" : "public reachable URL to the svg file. E.g. the URL to the output dir on a public webserver. E.g. 'https://teemperor.de/root-bench/'",
  "mattermost-hook" : "The mattermost hook to use when posting the result to mattermost.",
  "bot-avatar" : "URL to use as the mattermost bot avatar. E.g. 'https://google.de/logo.png'",
  "mattermost-channel" : "The mattermost channel to post the notification in.",
  "bot-name" : "The name the mattermost bot should use."
}
